<!doctype html>
<html>
<head>
	<title>Welcome To Rocket</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        #btnOut{
            float: right;
            margin-right: 10px;
        }
        #statut{
            width: 50%;
            margin-left: 15%;
        }
        #barre{
            background-color: rgb(156, 247, 247);
            width: 180px;
            height: 200px;
            margin-top: 30px;
            margin-left: 30px;
        }
        #barre iframe{
            text-align: center;
        }
        #footer{
            background-color: rgb(197, 197, 255);
            text-align: center;
            padding: 20px;
        }
        #footer form h1{
            margin: 30px;
        }
        .email-box{
            margin-bottom: 30px;
        }
        #barre, #statut{
            display: inline-block;
        }
        #actualités, #news, #weather{
            margin-top: 80px;
            display: block;
            width: 70%;
        }
        #actualités, #gps{
            margin-top: 50px;
            display: block;
            width: 80%;
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
    <a href="/"  id="btnOut"><button type="submit" class="btn btn-warning btn-lg" style="margin-top: 20px;" ><span class="fa fa-sign-out"></span> Logout</button></a>
    <div id="barre">
        <img src="/images/user.png">
        <!-- <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=en&size=small&timezone=Europe%2FParis"   frameborder="0"></iframe>  -->
        <IFRAME src="http://www.Heure.com/heure-fr.php?timezone=2&size=24"  BORDER="0" HSPACE="0" VSPACE="0" FRAMEBORDER="0" SCROLLING="no"> </IFRAME>
        
    </div>
    <div id="statut">
        <form  method="post">
            <input type="text" class="form-control" name="content" rows="3" id="content" style="resize: none;">
            <input type="file" id="imageFile" name="attachment" accept="image/png, image/jpeg">
            <button  class="btn btn-primary btn-lg"  style="float: right; margin-top:30px;"> Send</button>
        </form> 
        
     </div>
    <div id="publications">

    </div>
<center>
    <div id="actualités">
    <iframe src="https://fr.euronews.com/embed/timeline" id="news" scrolling="no" frameborder="0" style="min-height:425px; width:100%; height:100%;"></iframe>
    <iframe src="//fr.euronews.com/embed/meteo/europe/france/paris" id="weather" scrolling="no" frameborder="0" style="min-height:570px; width:100%; height:100%;"></iframe>
    <iframe src="https://embed.waze.com/iframe?zoom=15&lat=48.856614&lon=2.352222&ct=livemap" id="gps" width="600" height="450" allowfullscreen></iframe>
    </div>
</center>
    <div id="footer">
        
        <section class="bg-dark text-center p-5 mt-4">
            <div class="container p-3">
                <h3 class="text-white">Join Our Newsletter</h3>
                <form action="/newsletter" method="post">
                    <input type="text" name="text" placeholder="Enter Your Email">
                    <button type="submit" class="btn btn-default">Subscribe<i class="fa fa-envelope"></i></button>
                </form>
            </div>
        </section>
    </div>
    <script src="front.js"></script>
</body>
</html>