<h1>Welcome</h1>
<iframe src="https://fr.euronews.com/embed/timeline" scrolling="no" frameborder="0" style="min-height:425px; width:100%; height:100%;"></iframe>
<iframe src="//fr.euronews.com/embed/meteo/europe/france/paris" scrolling="no" frameborder="0" style="min-height:570px; width:100%; height:100%;"></iframe>
<iframe src="https://embed.waze.com/iframe?zoom=15&lat=48.856614&lon=2.352222&ct=livemap" width="600" height="450" allowfullscreen></iframe>